<template>
  <div class="voice_message">
    <button @click="() => togglePlay(item)" class="btn">
      <span class="material-icons">{{ item.isPlaying ? 'pause' : 'play_arrow' }}</span>
    </button>
    <div class="timeline">
      <div class="timeline_bar" v-for="(i, idx) in item.bars" :style="{height: calcHeight(i)}"
           :class="{active: percentPlayed > idx}">
      </div>
    </div>
    <button class="btn" @click="deleteVoiceRecord(item.id)"><span class="material-icons">delete</span></button>
  </div>
</template>

<script>
export default {
  name: "VoiceMessage",
  data() {
    return {
      percentPlayed: 0
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    ended() {
      return this.item.audio.ended
    }
  },
  watch: {
    item: {
      handler: function (newValue) {
        this.percentPlayed = Math.floor(newValue.current / newValue.duration * 100)
        if (newValue.audio.ended) {
          clearInterval(newValue.update)
        }
      },
      deep: true,
    },
  },
  methods: {
    calcHeight(value) {
      return `${value / 255 * 100}%`
    },
    deleteVoiceRecord(id) {
      this.$emit('deleteMessage', id)
    },
    togglePlay(file) {
      this.$emit('togglePlay', file)
    }
  }
}
</script>

<style scoped lang="scss">
.voice_message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  height: 50px;
  padding: 0 10px;
  margin: 10px 0;
}

.timeline {
  display: flex;
  height: 30px;
  padding: 0 20px;
  align-items: center;

  &_bar {
    width: 4px;
    margin-right: 1px;
    background: #A8C0DB;
    height: 100%;

    &.active {
      background: #5181B8;
    }
  }
}

.btn {
  width: 30px;
  height: 30px;
  background: #5181B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  span {
    color: #fff;
  }
}
</style>