<template>
  <div class="" style="display: flex; flex-direction: column">
    <div class="">
      <button @click=" () => isRecord ? stopRecord() : startRecord()">
        {{ isRecord ? 'Остановить' : 'Запись' }}
      </button>
    </div>
    <VoiceMessage v-for="item in records" :item="item" :key="item.id" @deleteMessage="deleteVoiceRecord"
                  @togglePlay="togglePlay"/>
  </div>
</template>

<script>
import {initMedia} from '../MediaRecorder'
import VoiceMessage from './VoiceMessage.vue'

export default {
  name: "VoiceRecorder",
  components: {VoiceMessage},
  data() {
    return {
      isRecord: false,
      mediaRecorder: {},
      record: [],
      records: [],
      analyser: null,
      audioContext: null,
      bufferLength: null,
      dataArray: null,
    }
  },
  mounted() {
    this.init()
  },

  computed: {
    canvas() {
      return document.querySelector('#canvas')
    },
    canvasCtx() {
      return this.canvas.getContext("2d");
    }
  },

  methods: {
    async init() {
      let mediaRecorder = await initMedia()
      this.mediaRecorder = mediaRecorder
      this.audioContext = new AudioContext()
      this.analyser = this.audioContext.createAnalyser()
      this.bufferLength = this.analyser.frequencyBinCount
      this.dataArray = new Uint8Array(this.bufferLength)

      mediaRecorder.addEventListener("dataavailable", async (event) => this.createVoiceRecord(event));
    },
    startRecord() {
      if (!this.isRecord) {
        this.mediaRecorder.start()
        this.isRecord = true

      }
    },

    stopRecord() {
      if (this.isRecord) {
        this.mediaRecorder.stop()
        this.isRecord = false
      }
    },

    async createVoiceRecord(event) {
      const audioUrl = URL.createObjectURL(event.data);
      const audio = new Audio(audioUrl);
      const track = this.audioContext.createMediaElementSource(audio)
      const id = Date.now()
      audio.addEventListener('loadedmetadata', () => {
        let updatedRecord = this.records.filter(i => i.id === id)[0]
        if (audio.duration === Infinity) {
          audio.currentTime = 1e101
          audio.addEventListener('timeupdate', getDuration)
        }

        function getDuration() {
          audio.currentTime = 0
          updatedRecord.duration = audio.duration.toPrecision(4)
          audio.removeEventListener('timeupdate', getDuration)
        }
      })
      audio.addEventListener('ended', () => {
        let updatedRecord = this.records.filter(i => i.id === id)[0]
        updatedRecord.isPlaying = false
      })
      this.records = [...this.records, {audio, track, id, isPlaying: false, bars: await this.generateBars(event.data)},]
    },


    async generateBars(blob) {
      let arrayBuffer = await blob.arrayBuffer()
      let data = new Uint8Array(arrayBuffer)
      const length = data.length
      const step = Math.floor(length / 100)
      let bars = []
      for (let i = step; i < length; i += step) {
        bars.push(data[i])
      }
      return bars
    },


    deleteVoiceRecord(id) {
      let file = this.records.find(i => i.id === id)
      clearInterval(file.update)
      file.audio.pause()
      this.records = this.records.filter(i => i.id !== id)
    },

    setUpdates(file) {
      file.update = setInterval(async () => {
        console.log('s')
        if (+file.current === +file.duration) {
          await clearInterval(file.update)
          file.audio.pause()
          file.isPlaying = false
          file.audio.currentTime = 0
        }
        file.current = file.audio.currentTime.toPrecision(4)
      }, 10)
    },

    async togglePlay(file) {
      let audio = {...file}['audio']
      let track = {...file}['track']

      if (file.isPlaying) {
        await audio.pause()
        file.isPlaying = false
        clearInterval(file.update)
      } else {
        track.connect(this.analyser).connect(this.audioContext.destination)
        this.setUpdates(file)
        await audio.play()
        file.isPlaying = true
      }
    },


  }
}
</script>

<style scoped>

</style>