<template>
  <h1>Запись голосовых</h1>
  <VoiceRecorder/>
</template>


<script>
import VoiceRecorder from './components/VoiceRecorder.vue';

export default {
  components: {VoiceRecorder}
}
</script>
